<div class="language-select">
    {% for language in locale.getAvailableLanguages() %}
        {% if language == locale.getCurrentLanguage() %}
            <span class="language {{ language }}">{{ language }}</span>
        {% else %}
            <a class="language {{ language }}" href="{{ path('language.change', {'language': language}) }}">{{ language }}</a>
        {% endif %}
    {% endfor %}
</div>